// Single section
.single-section {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 440px;

  &__inner {
    margin: 100px 0px;
    max-width: 45%;
    text-align: center;

    & > h2 {
      margin-top: 0px;
    }
  }
}

// Double section
.field-section-element-2 {
  display: flex;
  width: 100%;

  & > div {
    width: 50%;
    display: flex;
  }
}

.double-section {
  margin-bottom: 20px;
  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 440px;
    height: 100%;
  }
  &__text-inner {
    max-width: 62%;
    margin: 30px 0px;
  }
}

// Triple section
.field-section-element-3 {
  display: flex;
  width: 100%;

  & > div {
    width: 33.333333%;
    display: flex;
  }
}

.triple-section {
  margin-bottom: 20px;
  &__img {
    padding-right: 0px;
    padding-left: 0px;
  }

  figure > img {
    height: 240px;
  }

  &__text {
    margin: 50px 40px;
  }
}

