/**
 * Component: Mobile navigation
 */

.mobile-navigation {
  position: fixed;
  top: 0;
  right: 0;
  width: 255px;
  height: 100%;
  padding: 17px 30px 30px;
  background-color: @color-white;
  z-index: 1100;
  .translate3d(100%, 0, 0);
  .transition(transform .2s);

  @media (min-width:@screen-md) {display: none;}

  // Not very BEM like, but to make sure no flicker,
  // we apply display block to the elements
  // inside the mobile navigation, when they are inside.
  .site-navigation {display: block;}


 .mobile-navigation-button {display: none;}
  &.js-active {
    .translate3d(0, 0, 0);

    // Button animation
    .mobile-navigation-button {
      display: block;
      &__icon {
        background: transparent;

        &:before,
        &:after {
          background: @color-white;
          .transform-origin(50% 50%);

          top: 0;
        }

        &:before {transform: rotate3d(0, 0, 1, 45deg);}
        &:after {transform: rotate3d(0, 0, 1, -45deg);}
      }
    }
  }
}

.mobile-navigation-button {
  background: none;
  border: 0;
  width: 30px;
  height: 30px;
  line-height: 1;
  text-align: center;
  margin: 0;
  padding: 5px 0 0;
  position:absolute;
  top: 10px;
  left: -30px;

  @media (min-width:@screen-md) {display: none;}

  // Site header location
  &--site-header {
    position: static;
    float: right;
  }

  &:focus,
  &:active {outline: none;}

  &:hover &__icon {.scale(1.2);}

  &__icon {
    display: inline-block;
    width: 20px;
    height: 2px;
    background: @color-text;
    border-radius: 3px;
    .transition(all .3s);
    position: relative;
    top: -5px;
    margin-right: 5px;

    &:before,
    &:after {
      display: inline-block;
      width: 20px;
      height: 2px;
      background: @color-text;
      border-radius: 4px;
      .transition(all .3s);
      position: absolute;
      left: 0;
      content: '';
      .transform-origin(4px center);
    }

    &:before {top: 5px;}
    &:after {top: -5px;}
  }
}