<button class="cookie-info-open" id="cookie-info-open">
    Cookies?
</button>
<section class="cookie-info" id="cookie-info">
    <div class="cookie-text">
        {% if title %}
            <h3>{{ title }}</h3>
        {% endif %}
        {% if body %}
            <p>{{ body | raw }}</p>
        {% endif %}
        <button class="cookie-info-close" id="cookie-info-close">
            {{ button }}
        </button>
    </div>
</section>