/**
 * Base
 */

// Box sizing
* {
    .box-sizing(border-box);

    &:before,
    &:after {.box-sizing(border-box);}
}


// Body
body {
    //background-color: @site-background-color;
    font-family: @base-font-family;
    font-weight: @base-font-weight;
    font-size: @base-font-size;
    color: @color-text;
    line-height: 1.5;
    overflow-x: hidden;
    position: relative;
    width: 1170px;
    margin: 0 auto;

    @media (min-width:@screen-lg) {font-size: 18px;}
}


// Links
a {
    color: @color-link;
    text-decoration: underline;

    &:hover,
    &:focus {color: darken(@color-link, 10%);}
}


// Image handling
figure {
    margin: 0;

    img {
        max-width: 100%;
        width: 100%;
        height: auto;
        display: block;
    }
}

// Boxes
.layout-orange {
    background-color: @color-orange;
    color: @color-white;
}

.layout-red {
    background-color: @color-red;
    color: @color-white;
}

.layout-white {
    background-color: @color-white;
    color: @color-black;
}


// No gutters
/*
.row.no-gutters {
    margin-right: -7px;
    margin-left: -15px;
}
.row.no-gutters > [class^="col--"],
.row.no-gutters > [class*=" col--"] {
    padding-right: 0px;
    padding-left: 0px;
}
*/

.no-gutter {
    padding-left: 0 !important;
    padding-right: 0 !important;
}