<div id="js-mobile-navigation" class="mobile-navigation">
  <button id="js-mobile-navigation-open" class="mobile-navigation-button">
    <span class="mobile-navigation-button__icon"></span>
  </button>
  <a class="logo logo--mobile" href="/">
    <img class="logo__image" src="/{{ directory }}/images/logo.png" alt="Logo">
    <span class="logo__branch"></span>
  </a>
</div>
