<div id="js-navigation" class="navigation">
  <button id="js-navigation-close" class="navigation-close">
    <svg class="navigation-close__icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/{{ directory }}/icons/icons.svg#close"></use>
    </svg>
  </button>
  {{ page.navigation }}
</div>
