<nav id="js-site-navigation">
  <ul class="site-navigation__list">
    <li class="site-navigation__item site-navigation__item--active">
      <a class="site-navigation__link" href="#">Forside</a>
    </li>
    <li class="site-navigation__item">
      <a class="site-navigation__link" href="#">Menupunkt 1</a>
    </li>
    <li class="site-navigation__item">
      <a class="site-navigation__link" href="#">Menupunkt 2</a>
    </li>
    <li class="site-navigation__item">
      <a class="site-navigation__link" href="#">Menupunkt 3</a>
    </li>
    <li class="site-navigation__item">
      <a class="site-navigation__link" href="#">Menupunkt 4</a>
    </li>
  </ul>
</nav>