<nav id="js-site-navigation">
  <ul class="site-navigation__list">
    <li class="site-navigation__item site-navigation__item--active">
      <a class="site-navigation__link" href="#">Underholdningsguide</a>
    </li>
    <li class="site-navigation__item">
      <a class="site-navigation__link" href="#">Kanal overblik</a>
    </li>
    <li class="site-navigation__item">
      <a class="site-navigation__link" href="#">Alt om TV</a>
    </li>
    <li class="site-navigation__item">
      <a class="site-navigation__link" href="#">Hjælp og kundeservice</a>
    </li>
  </ul>
</nav>