<div class="site-global-header">
  <div class="container">
    {#{% include directory ~ '/templates/navigation/breadcrumb.html.twig' %}#}
    {% if content %}
      {{ content }}
    {% endif %}
  </div>
</div>
