{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}

<header class="page-header">
  <div class="container">
    <div class="row">
      <div class="col--xs-12">
        {% if title %}
          <h1 class="page-header__title">{{ title }}</h1>
        {% endif %}
      </div>
    </div>
  </div>
</header>
<section class="faq">
  <div class="container">
    <div class="faq-list">
    {% for row in rows %}
      {% set row_classes = [
        'faq-item'
      ] %}
      <div{{ row.attributes.addClass(row_classes) }}>
        {{ row.content }}
      </div>
    {% endfor %}
    </div>

  </div>
</section>