<section class="address-lookup-container js-show-info">
  <div class="container">
    <div class="address-lookup-info js-show">
      {% if content.info %}
        {{ content.info }}
      {% endif %}
    </div>

    <div class="address-lookup-form">
      <span class="address-lookup-form__title">Indtast din adresse - så vi kan vise dig præcis de kanaler og services vi kan tilbyde dig</span>
      {% block content %}
        {{ content|without('info','isIdentified') }}
      {% endblock %}
      <div class="address-lookup-form__alternative">
      {% if not content.isIdentified %}
        <a class="js-address-lookup-toggle " href="#">Fortsæt uden adresseindtastning</a>
        <small>Vær opmærksom på, at de valgte kanaler måske ikke tilbydes hvor du bor</small>
      </div>
      {% else %}
        <a class="js-address-lookup-toggle " href="#">{{ 'Keep current address'|t }}</a>
      {% endif %}
    </div>
  </div>
</section>

