.svg-common() {
	background: url("icons-css.svg") no-repeat;
}

.svg-burger-menu {
	.svg-common();
	background-position: 0 0;
}

.svg-burger-menu-dims {
	width: 32px;
	height: 18.05px;
}

.svg-close {
	.svg-common();
	background-position: 0 23.75%;
}

.svg-close-dims {
	width: 32px;
	height: 32px;
}

.svg-facebook-logo {
	.svg-common();
	background-position: 27.35042735042735% 0;
}

.svg-facebook-logo-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-arrow-down {
	.svg-common();
	background-position: 54.7008547008547% 0;
}

.svg-icon-arrow-down-dims {
	width: 32px;
	height: 29.98px;
}

.svg-icon-burger-menu {
	.svg-common();
	background-position: 0 60.67402109346588%;
}

.svg-icon-burger-menu-dims {
	width: 32px;
	height: 25.51px;
}

.svg-icon-lock {
	.svg-common();
	background-position: 74.5283751261548% 0;
}

.svg-icon-lock-dims {
	width: 20.19px;
	height: 32px;
}

.svg-icon-pin {
	.svg-common();
	background-position: 0 99.42105263157895%;
}

.svg-icon-pin-dims {
	width: 20.55px;
	height: 32px;
}

.svg-icon-play {
	.svg-common();
	background-position: 17.092239873575647% 99.42105263157895%;
}

.svg-icon-play-dims {
	width: 28.77px;
	height: 32px;
}

.svg-icon-search {
	.svg-common();
	background-position: 42.15384615384615% 97.88832750356264%;
}

.svg-icon-search-dims {
	width: 32px;
	height: 30.81px;
}

.svg-instagram-logo {
	.svg-common();
	background-position: 99.3076923076923% 0;
}

.svg-instagram-logo-dims {
	width: 32px;
	height: 32px;
}

